<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title class="ion-text-center">Oooops!</ion-title>
    <ion-icon ios="alert-circle-outline" md="alert-circle-sharp" slot="end" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-img src="/assets/img/e404.jpg" alt="Página não encontrada."></ion-img>
  <div class="ion-padding">
    <p>O conteúdo que você procura não existe.</p>
    <p>Use o menu lateral para navegar entre as páginas do aplicativo.</p>
    <p class="ion-text-center">

      <ion-button routerLink="/home">
        <ion-icon name="home" slot="start"></ion-icon>
        Página inicial
      </ion-button>

    </p>
  </div>

</ion-content>