<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title class="ion-text-center">Privacidade</ion-title>
    <ion-icon ios="lock-closed-outline" md="lock-closed-sharp" slot="end" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero a amet dolores officia! Voluptatem omnis veritatis
  adipisci placeat facere cupiditate, ducimus commodi obcaecati tempora impedit ratione dolorum esse magnam est!
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam iste assumenda quisquam vel asperiores doloribus
    tempora rem omnis sapiente, molestias vitae reprehenderit eveniet, odit aliquam distinctio deserunt quos aspernatur
    consectetur.</p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex corporis ullam dicta, nihil ducimus dolore fugiat
  tenetur. Quae autem dolorem, fugiat commodi aperiam voluptas? Tenetur excepturi officiis harum sed beatae!
</ion-content>